/**********************
* Color-palette 
***********************/

:root {
    --mulberry: #CB4A8B;
    --pink-lace: #FDDBF5;
    --cotton-candy: #F9BFE1;
    --dark-blue-gray: #5F5995;
    --dark-purple: #1C1734;
}

/**********************
* Color classes
***********************/
.color-mulberry {
    color: var(--mulberry);
}
.color-pink-lace {
    color: var(--pink-lace);
}
.color-cotton-candy {
    color: var(--cotton-candy);
}
.color-dark-blue-gray {
    color: var(--dark-blue-gray);
}
.color-dark-purple {
    color: var(--dark-purple);
}

/**********************
* Color setup
***********************/
body {
    
}

h1 {
    color: var(--dark-purple);
}

h2 {
    color: var(--dark-purple);
}

h3 {
    color: var(--dark-purple);
}

h4, h5, h6 {
    color: var(--dark-purple);
}

p {
    color: var(--dark-purple);
}

a {
    text-decoration: none !important;
    color: var(--dark-purple) !important;
}

a:hover,
a:focus {
    color: var(--mulberry) !important;
}

.btn-primary {
    background-color: var(--dark-purple);
    border-color: var(--dark-purple);
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: var(--mulberry);
    border-color: var(--mulberry);
}

.btn-primary:disabled {
    background-color: var(--dark-blue-gray) !important;
    border-color: var(--dark-blue-gray) !important;
}

.btn-primary.disabled {
    background-color: var(--dark-blue-gray);
    border-color: var(--dark-blue-gray);
}

.btn-primary:not(:disabled):not(.disabled):active {
    background-color: var(--pink-lace);
    border-color: var(--pink-lace);
}

.list-group-item.active {
    color: var(--dark-blue-gray);
    background-color: var(--pink-lace);
    border-color: var(--pink-lace);
}

.color-emoji-male {
    color: transparent !important;
    text-shadow: 0 0 0 blue !important;
}

.color-emoji-female {
    color: transparent !important;
    text-shadow: 0 0 0 pink !important;
}

input {

}

select {

}

option {

}

.btn {

}

.btn-link {

}

.form-control {

}

.footer {
    background-color: white;
}