@{
    ViewData["Title"] = "Home Page";
}
<form>
    <div class="container">
        <div class="row">
            <div class="form-group col col-sm-12">
                <label>E-pasts</label>
                <input class="form-control" type="text" placeholder="">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="form-group col col-sm-12">
                <label>Password</label>
                <input class="form-control" type="password" placeholder="">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="form-group col col-sm-12">
                <button type="submit" class="btn btn-primary btn-full-space">Submit</button>
            </div>
        </div>
    </div>
</form>
