
@{
    ViewData["Title"] = "Index";
}

<h1>Profils</h1>
<form>
    <div class="row">
        <div class="col-4">
            <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active" id="list-Vards-list" data-toggle="list" href="#list-Vards" role="tab" aria-controls="Vards">Vārds</a>
                <a class="list-group-item list-group-item-action" id="list-Uzvards-list" data-toggle="list" href="#list-Uzvards" role="tab" aria-controls="Uzvards">Uzvārds</a>
                <a class="list-group-item list-group-item-action" id="list-Pasts-list" data-toggle="list" href="#list-Pasts" role="tab" aria-controls="Pasts">E-pasta adrese</a>
                <a class="list-group-item list-group-item-action" id="list-Dzimums-list" data-toggle="list" href="#list-Dzimums" role="tab" aria-controls="Dzimums">Dzimums vīrietis♂, sieviete♀)</a>
                <a class="list-group-item list-group-item-action" id="list-Dzimums2-list" data-toggle="list" href="#list-Dzimums2" role="tab" aria-controls="Dzimums2">Dzimums(psiholoģiskais)</a>
                <a class="list-group-item list-group-item-action" id="list-ipasibas-list" data-toggle="list" href="#list-ipasibas" role="tab" aria-controls="ipasibas">Personīgas īpašības</a>
                <a class="list-group-item list-group-item-action" id="list-Hobiji-list" data-toggle="list" href="#list-Hobiji" role="tab" aria-controls="Hobiji">Hobiji, Inereses, Vaļasprieki</a>
            </div>
        </div>
        <div class="col-8">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="list-Vards" role="tabpanel" aria-labelledby="list-Vards-list">Pavels</div>
                <div class="tab-pane fade" id="list-Uzvards" role="tabpanel" aria-labelledby="list-Uzvards-list">Ozols</div>
                <div class="tab-pane fade" id="list-Pasts" role="tabpanel" aria-labelledby="list-Pasts-list">PavelsOzols@gmail.com</div>
                <div class="tab-pane fade" id="list-Dzimums" role="tabpanel" aria-labelledby="list-Dzimums-list">Vīrietis</div>
                <div class="tab-pane fade" id="list-Dzimums2" role="tabpanel" aria-labelledby="list-Dzimums2-list">Vīrietis</div>
                <div class="tab-pane fade" id="list-ipasibas" role="tabpanel" aria-labelledby="list-ipasibas-list">Draudzīgs, laipns</div>
                <div class="tab-pane fade" id="list-Hobiji" role="tabpanel" aria-labelledby="list-Hobiji-list">Datorspēles, futbols, šahs, pastaigas ar draugiem</div>
            </div>
        </div>
    </div>
    <div class="mt-3">
    <button type="button" class="btn btn-primary">Iziet</button>
    <button type="button" class="btn btn-primary">Mainīt</button>
    <button type="button" class="btn btn-primary">Meklēt</button>
        </div>
</form>

<style>
    .form-control {
        background-color: #E8E8E8;
    }

</style>