@{
    ViewData["Title"] = "Match Page";
}

<div class="text-center">
    <h1 class="display-4">Meklējiet partneri</h1>
</div>
<form>
    <div class="container">
        <div class="row">
            <div class="form-group col col-sm-12">
                <label>Vārds, uzvārds</label>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="form-group col col-sm-12">
                <label>Dzimums (vīrietis♂, sieviete♀):</label>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="form-group col col-sm-12">
                <label>Dzimums (psiholoģiskais):</label>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="form-group col col-sm-12">
                <label>Personīgas īpašības:</label>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="form-group col col-sm-12">
                <label>Hobiji, Intereses, Vaļasprieki</label>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="form-group col col-sm-3">
                <button type="submit" class="btn btn-primary btn-full-space testA">Like😎</button>
            </div>
            <div class="form-group col col-sm-3">
                <button type="submit" class="btn btn-primary btn-full-space testB">Dislike😒</button>
            </div>
        </div>
    </div>

</form>
<style>
    .testA {
        background-color: #4CAF50 !important;
    }
    .testB {
        background-color: #8B0000 !important;
    }

    .btn-full-space {
        width: 70%;
    }
</style>