@{
    ViewData["Title"] = "Is Active Test";
}

<div class="text-center">
    <h1 class="display-4">Welcome Home/controller</h1>
    <h1>@ViewBag.IsActive</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
