@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<h1>@ViewBag.userId</h1>
<h1>@ViewBag.userName</h1>
<h1>@ViewBag.IsActive</h1>
<p>Use this page to detail your site's privacy policy. hehe</p>
<p>!!! IMAGINE HERE LIST OF USERS !!!</p>
