@{
    ViewData["Title"] = "Chat";
}
<div class="container-lg">
    <div class="row">
        <div class="card col-lg-6">
            <div class="card-body">
                <h4>Room Id</h4>
                <input type="text" id="room" value="@ViewBag.roomId" readonly/>
                <input type="button" class="btn btn-primary" id="joinButton" value="Join Conversation" />
                <h4>Your name</h4>
                <input type="text" id="userInput" value="@ViewBag.currentUserName" readonly/>
                <h4>Your message</h4>
                <input type="text" id="messageInput"/>
                <input type="button" class="btn btn-primary" id="sendButton" value="Send Message" />
            </div>
        </div>
        <div class="card col-lg-6">
            <div class="card-body">
                <ul id="messagesList"></ul>
            </div>
        </div>
    </div>
</div>
<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>