@model BDate.Models.Hobby

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-action="Create">
    <div class="container-lg">
        <div class="row justify-content-lg-center">
            <div class="col-lg-6 text-center">
                <h3>Create new hobby</h3>
            </div>
        </div>
        <div class="row justify-content-lg-center mt-4">
            <div class="col-lg-5 mt-4">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group row">
                    <label asp-for="HobbyId" class="control-label col-lg-4 col-form-label"></label>
                    <div class="col-lg-8">
                        <input asp-for="HobbyId" class="form-control" />
                    </div>
                    <span asp-validation-for="HobbyId" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <label asp-for="HobbyName" class="control-label col-lg-4 col-form-label"></label>
                    <div class="col-lg-8">
                        <input asp-for="HobbyName" class="form-control" />
                    </div>
                    <span asp-validation-for="HobbyName" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row justify-content-lg-center mt-4">
            <div class="col-lg-1 d-flex justify-content-center btn-w100">
                <input type="submit" value="Create Profile" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
